<!DOCTYPE html>
<html>
<head>
    <title>Mini Instagram</title>

    <style>
        body{
            font-family: Arial;
            text-align: center;
            background: #fafafa;
        }

        h1{
            color:#333;
        }

        .card{
            display:inline-block;
            padding:20px;
            margin:20px;
            border-radius:12px;
            background:white;
            box-shadow:0 0 10px rgba(0,0,0,0.1);
            width:200px;
        }

        a{
            text-decoration:none;
            color:white;
            background:#0095f6;
            padding:10px 15px;
            border-radius:8px;
            display:inline-block;
            margin-top:10px;
        }

        a:hover{
            background:#1877f2;
        }
    </style>
</head>

<body>

    <h1>📸 Mini Instagram</h1>
    <p>Select a profile</p>

    <div class="card">
        <h2>@cats</h2>
        <a href="/ig/cats">Open Profile</a>
    </div>

    <div class="card">
        <h2>@dogs</h2>
        <a href="/ig/dogs">Open Profile</a>
    </div>

</body>
</html>